.meowMessenger {
  width:100px;
  height:100px;
  right: 25px;
  bottom: 25px;
  border: 1px solid black;
  border-radius: -50px;
}

.fb-customerchat {
  width:100px;
  height:100px;
  left: 25px;
  bottom: 25px;
  border: 1px solid black;
  border-radius: -50px;
}

.slice {
    color: black;
    text-align: :right;
    font-size: 100px;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
    background-color: lightgrey;

    }

      .kittyBox {
      table-layout:auto;
      resize:both;
      
      }

      .littleKitty {
        height: auto;
        width: 100%;
        max-width: 600px;
        resize: both;
      }

      .caption {
        background-color:white;
        width: 100%;
        max-width: 600px;
      }

      .timeLineTable {
            background-color: lightGray;
            margin-top: 60px;
            margin-left: 60px;
            margin-right: 60px;
            border-bottom:-30px;
            border: 3px dotted black;
            }

      .titleMrJay {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 100px;
        text-align: center;
        text-decoration: underline overline wavy darkgrey;
        
      }
    
      
      /* Mobile Responsiveness for .titleMrJay */
      @media (max-width: 510px) {
        .titleMrJay {
          font-size: 60px;
        }
      }


      .tryingToBeCute {
        text-align: center;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      }

      .timeLine {
          margin-top: 50px;
          margin-bottom: 40px;
          text-align: justify;
          text-justify: inter-word;
      }

      .timeLineDetails {
      text-align: auto;
      padding-left: 50px;
      padding-right: 50px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      }

      /* Mobile Responsiveness for .timeLineDetails */
      @media (max-width: 480px) {
      .timeLineDetails {
        font-size: 14px;
        }
     }
      

      .VideoPics {
        background-color: lightGray;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 50px;
        border-top: 50px;
        
      }

      .slogan {
      margin-top: 30px;
      margin-left:50px;
      margin-right:50px;
      font-size: 45px;
      text-align: center;
      font-family: arial;
      font-style: italic;
      color: dimgray;
      }

      .naughtyTreat {
        text-align: center;
       margin-top: 50px;
      font-size: 25px;
      font-family: arial;
      font-style: italic;
      color: dimgray;
      }

      .littleTreat {
        margin-left:50px;
        margin-right:50px;
        height: 500px auto;
        width: 100%;
        max-width: 600px;
        resize: both;


      }

      .picGalleryBox {
        margin-left:60px;
        margin-right:60px;
        margin-bottom: 60px;
        border: 3px dotted black;
      }

      .picGallery {
        text-align: center;
        margin: 6px;
        display: inline-block;
        padding: 15px;
        border: 3px block black;
        
      }

      .picGallery img {
      margin: 5px;
      height: auto;
      width: 100%;
      max-width: 500px;
      }

      @media (max-width: 480px) {
        .picGallery img {
        
        }
     }


      .contactDetails {
      background-color: rgb(181, 233, 250);
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left:-60px;
      border-top: -60px;
      border-right: -60px;
      font-size: 20px;
      }

      /* Mobile Responsiveness for .contactDetails */
      @media (max-width: 480px) {
          .contactDetails {
          font-size: 14px;
          }
       }
        

      .contactDetailsBox {
      background-color: rgb(72, 156, 252);
      padding: 20px;
      margin-bottom: 50px;
      margin-top: 50px;
      margin-left: 60px;
      margin-right: 60px;
      border: 3px dotted hsl(221, 93%, 37%);
      } 


      .meow {
       text-align: center;
       font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      }

      .socialMediaContact {
        margin-bottom: 18px;

      }

      .contact {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
      }

      .cantMeow {
        text-align: center;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

      }
      
      .contactUsForm {
        
      }
      
      .center {
          width: 70%;
          margin: 0 auto;
      }

      .clear-left {
        clear: left;
      }

      .clear-right {
        clear: right;
      }

      .float-left {
        color: black;
        float: left;
        display: block;
      }

      .float-right {
        color: black;
        float: right;
        display: block;
      }

      .td1 {
        color: black;
        text-align: right;
      }

      .td2 {
        color: black;
        object-position: left;
      }

      .textCommentBox {
        /* text-align: center; */
        /* margin: 0 500px 500px 0px */
        /* margin-left: 500px; */
        text-align: center;
      }

      .catsPaw:hover {
        cursor: url("catsPaw.cur");
      }


      

      .welcomePage {
        height: 100px;
        width: 100px;

      }

      /* Footer */

      .footer {
        background-color: rgb(199, 169, 255);
        overflow: auto;
      }

      

      .coded {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        
        
      }

      .purpleCatMessageBox {
        content: center;
        padding: 70px 0;
        background-color: rgb(197, 107, 224);
        padding: 20px;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-right: 70px;
        border: 3px dotted hsl(300, 100%, 23%);
        float: left;
        display: inline-block;
        border-radius: 20px 20px 20px 5px;
        position:absolute;
      }

      .purpleCat {

        margin-left:10px;
        margin-top:77px;
        float:left;
        display: inline-block;
      }
      
      .purpleCat3 {
        margin-left:170px;
        margin-top:100px;
        float:center;
        display: block;
        position: absolute;
        height: 300px;
        width: 300px;
      }

      /* Mobile Responsiveness for .purpleCat3 */
      @media (max-width: 530px) {
        .purpleCat3 {
          opacity: 0;
        }
     }

      .purpleCat2 {
        margin-top:50px;
        float: right;
        transform: scaleX(-1);
        display: block;
        
        
        
      }

      /* Mobile Responsiveness for .purpleCat2 */
      @media (max-width: 830px) {
        .purpleCat2 {
        opacity: 0;
        }
     }

     @keyframes beatingHeart {
      from {transform: scale(1.1);}
      to {transform: scale(1.3);}

     }

     .heart {
       float: left;
       margin-top:170px;
       margin-left:-80px;
       height:30px;
       width: 30px;
       animation-name: beatingHeart;
       animation-duration: 0.5s;
       animation-iteration-count: infinite;
       animation-direction: alternate;
      
     }

    


      /* CSS for back to top function */
      .topCat {
        width:60px;
        height:90px;
        position: fixed; /* Fixed/sticky position */
        bottom: 140px;
        right: 31px; 
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        color: black; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        
    }
    
      .topCat:hover {
        background-color: #555; /* Add a dark-grey background on hover */
      }

      /* Welcome alert testing testing */

      .alert {
        padding: 20px;
        background-color: darkgrey;
        opacity: 0.9;
        color: black;
        margin: auto;
        max-width: 1000px;
        top: 50%;
        left: 50%;
        position: fixed;
        font-size: 25px;
        align: Center;
    }
    
      .closebtn {
        padding-top: 10px;
        position: inline;
        margin-left: 15px;
        margin-top: 10px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
        margin: auto;
        max-width: 500px;
    }
    
      .closebtn:hover {
        color: black;
    }

   
    /* Font */

    .Roboto {
      font-family: 'Roboto', sans-serif;
    }

    .size20px {
      font-size: 20px;
    }